<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Conheça o Espírito Santo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="./assets/img/amores.png"></ion-img>
      <ion-card-title>Terra Maravilhosa!</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      O Espírito Santo une lazer, negócios, eventos, gastronomia, cultura, história e belezas naturais. A combinação distinta do mar com as montanhas, o contraste entre tradição e modernidade, agitação e tranquilidade, esportes e eventos culturais, entrelaçam um roteiro imperdível e cheio de aventura, descobertas e muita diversão.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Segmentos</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon name="leaf" slot="start"></ion-icon>
      <ion-label>Agroturismo</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="bicycle" slot="start"></ion-icon>
      <ion-label>Aventura</ion-label>
    </ion-item>
  
    <ion-item >
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Ecoturismo</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Parques</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="sunny" slot="start"></ion-icon>
      <ion-label>Sol e Praia</ion-label>
    </ion-item>

  </ion-card>

</ion-content>
